body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul , .social ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
    margin: auto;
    width:30%;
    text-align: center;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
}
footer {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.name{
    width: 50%;
    margin: auto;
    text-align: center;
}
.name h1{
    font-size: 4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.name p{
    font-family:'Helvetica Nue', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: lighter;
    font-size: 1.2em;
}

.social ul li{
    display: inline;
}

.social a:hover{
    text-decoration: none;
}
